
<!DOCTYPE html>
<html>
<head>
    <title>Game!</title>
</head>
<body>

    <form action="/madlib">
        Choose a color:
        <select name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
        </select><br>

        Enter a noun: <input type="text" name="noun"><br>
        Enter an adjective: <input type="text" name="adjective"><br>
        Enter a person's name: <input type="text" name="person"><br>
        <input type="submit" name="submit">

    </form>

</body>
</html>