<!DOCTYPE html>
<html>
<head>
    <title>Zoo Input</title>
</head>
<body>
    <form action="/madlib_lab">

        Enter an ajective:
         <input type="text" name="adj1"><br>
        Enter a noun:
         <input type="text" name="noun1"><br>
        Enter a verb(past tense):
         <input type="text" name="verb1"><br>
        Enter an adverb:
         <input type="text" name="adverb1"><br>
        Enter an ajective:
         <input type="text" name="adj2"><br>
        Enter a noun:
         <input type="text" name="noun2"><br>
        Enter a noun:
         <input type="text" name="noun3"><br>
        Enter an ajective:
         <input type="text" name="adj3"><br>
        Enter a verb:
         <input type="text" name="verb2"><br>
        Enter an adverb:
         <input type="text" name="adverb2"><br>
        Enter a verb(past tense):
         <input type="text" name="verb3"><br>
        Enter an ajective:
         <input type="text" name="adj4"><br>

         <input type="submit" name="submit">
      
    </form>
        
</body>
</html>