<!DOCTYPE html>
<html>
<head>
    <title>Zoo Madlib</title>
</head>
<body>
    A Day at the Zoo!
Today I went to the zoo. I saw a {{ adjectives[0] }}
{{ nouns[0] }} jumping up and down in its tree. He
{{verbs[0]}} {{ adverbs[0] }} through
the large tunnel that led to its {{adjectives[1]}}
{{nouns[1]}}. I got some peanuts and passed them
through the cage to a gigantic gray {{nouns[2]}}
towering above my head. Feeding that animal made me
hungry. I went to get a {{adjectives[2]}} scoop of ice
cream. It filled my stomach. Afterwards I had to
{{verbs[1]}} {{adverbs[1]}} to catch our bus. When
I got home I {{verbs[2]}} my mom for a
{{adjectives[3]}} day at the zoo. 
</body>
</html>

